<div id="contact-info">

    {% if page.homepage %}
    <i style="font-size:38px; margin-left:1em">&#127759;</i>
    <a href="{{ page.homepage.url }}" style="font-size:24px; margin-left:0.5em"> {{ page.homepage.text }}</a>
    {% endif %}

    {% if page.github %}
    <i><img src="https://github.com/AaronYang2333/resume/blob/master/assets/icons/github.png" height="35" width="35" ></i>
    <a href="{{ page.github.url }}" style="font-size:24px; margin-left:0.5em"> {{ page.github.text }}</a>
    {% endif %}

    {% if page.email %}
    <i style="font-size:38px; margin-left:1em">&#128231;</i>
    <a href="{{ page.email.url }}" style="font-size:24px; margin-left:0.5em">{{ page.email.text }}</a>
    {% endif %}

    {% if page.phone %}
    <i style="font-size:38px; margin-left:1em">&#128222;</i>
    <a href="{{ page.email.url }}" style="font-size:24px; margin-left:0.5em"></a>{{ page.phone }}</a>
    {% endif %}

</div>
